.notice-text {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.notice-instructions {
  margin: 10px 0 120px 0;
}

.notice-more-info {
  margin-left: 17px;
}

.notice-tag {
  font-weight: 600;
}