<ion-header [translucent]="true">
  <mapy73pl-main-toolbar [showInfo]="true" [repCount]="repeatersAllCount"></mapy73pl-main-toolbar>
</ion-header>

<ion-content  [fullscreen]="true">
  <ion-modal class="repeater-info" [isOpen]="isModalOpen" (didDismiss)="isModalOpen = false" role="dialog" aria-label="Repeater Info" id="repeater-info" >
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>{{lastUsedRptrPatch.i}}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="isModalOpen = false">zamknij</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        @if (repeaterLoading) {
          <div class="rep-loading">
            <ion-spinner color="primary"></ion-spinner>
          </div>
        } @else {
          <ion-grid class="rpt-info" [fixed]="true">
            @if (showCrossRep) {
              <mapy73pl-repeater-info-cross-band 
                [repeaterBandKey]="repeaterBandKey"
                [repeaterAllData]="repeaterAllData"
                [showMoreData]="false"
                [showDistance]="true"
                [moveMarker]="moveMarker"
                (needShowRadio)="showMapRadio()"                
                ></mapy73pl-repeater-info-cross-band>
            } @else {
            <mapy73pl-repeater-info
              [repeaterDataLocation]="showRepDataLocation"
              [bandName]="lastUsedRptrPatch.b"
              [repeaterData]="showRepData"
              [showMoreData]="false"
              [showDistance]="true"
              [showStatus]="true"
              [moveMarker]="moveMarker"
              (needShowRadio)="showMapRadio()"
              ></mapy73pl-repeater-info>  
            }
          </ion-grid>
        }

      </ion-content>
      <div class="m73-flex-between">
        <ion-button (click)="goToRepeaterInfo()" class="ion-text-wrap btn-more">Wiecej informacji</ion-button>


        <ion-button *ngIf="!isSavedLastUsedRptrPatch" fill="outline"   class="ion-text-wrap btn-more" (click)="addLastUsedRptrPatch()">
          Dodaj do exportu
          <ion-icon slot="start" name="save" aria-hidden="true"></ion-icon>
        </ion-button>
        <ion-button *ngIf="isSavedLastUsedRptrPatch" fill="outline"   class="ion-text-wrap btn-more" (click)="removeLastUsedRptrPatch()">
          Usuń z exportu
          <ion-icon slot="start" name="trash-bin" aria-hidden="true"></ion-icon>
        </ion-button>      
      </div>
    </ng-template>
  </ion-modal>

    <!-- <div class="box-map" #map></div> -->
<div class="box-map">
  <mapy73pl-map
  ngSkipHydration
  [moveMarkerA]="moveMarker.a"
  [moveMarkerO]="moveMarker.o"
  [userUpdateLatLng]="dataFromUser"
  (radioMove)="mapMoveMarker($event)"
    ></mapy73pl-map>
</div>

  <ion-modal id="filter-data-modal"
  #modal
  [isOpen]="isFilterOpen"
  [initialBreakpoint]="0.4"
  [breakpoints]="isDekstop ? [0.2, 0.9] : [0.2,0.9]"
  [backdropDismiss]="false"
  [backdropBreakpoint]="1"
  aria-label="Repeater Filter"
  role="dialog" 
  [handle]="false"
  [expandToScroll]="false"
  [mode]="'md'"
>
  <ng-template>
    <!-- <ion-header>


    </ion-header> -->
    <ion-content  id="filter-data-content" [fullscreen]="false" class="ion-padding">

      <div class="m-sticky">
        <div class="m-minmax">
          @if(filterToUp) {
           <ion-button size="small" class="ion-text-wrap btn-more" (click)="modal.setCurrentBreakpoint(0.9); filterToUp = !filterToUp">
             ROZWIŃ
             <ion-icon slot="end" name="chevron-up-outline" aria-hidden="true"></ion-icon>
           </ion-button>  
          } @else {
           <ion-button size="small" class="ion-text-wrap btn-more"  (click)="modal.setCurrentBreakpoint(0.2); filterToUp = !filterToUp">
             ZWIŃ
             <ion-icon slot="end" name="chevron-down-outline" aria-hidden="true"></ion-icon>
           </ion-button>
          }
         </div>
         <ion-segment  [scrollable]="true" [value]="segmentValue" (ionChange)="segmentChangeEvt($event)">
          <ion-segment-button value="filter" content-id="filter" aria-hidden="Filtry">
            <ion-icon name="filter-outline" aria-hidden="true"></ion-icon>
          </ion-segment-button>
          <ion-segment-button value="country" content-id="country" aria-hidden="Kraje">
            <ion-icon name="earth-outline" aria-hidden="true"></ion-icon>
          </ion-segment-button>        
          <ion-segment-button value="radio" content-id="radio" aria-hidden="QTH">
            <ion-icon name="walk-outline" aria-hidden="true"></ion-icon>
          </ion-segment-button>
          <!-- <ion-segment-button value="export" content-id="export" aria-hidden="Export">
            <ion-icon name="cloud-download-outline" aria-hidden="true"></ion-icon>
          </ion-segment-button>      -->   
        </ion-segment>         
      </div>
      <!-- <div *ngIf="isDekstop" class="m-minmax">
        @if(filterToUp) {
         <ion-button size="small" class="ion-text-wrap btn-more" (click)="modal.setCurrentBreakpoint(0.96); filterToUp = !filterToUp">
           ROZWIŃ
           <ion-icon slot="end" name="chevron-up-outline" aria-hidden="true"></ion-icon>
         </ion-button>  
        } @else {
         <ion-button size="small" class="ion-text-wrap btn-more"  (click)="modal.setCurrentBreakpoint(0.1); filterToUp = !filterToUp">
           ZWIŃ
           <ion-icon slot="end" name="chevron-down-outline" aria-hidden="true"></ion-icon>
         </ion-button>
        }
       </div>       -->
      <!-- @if(filterToUp && !isDekstop) {
        <ion-icon aria-hidden="true" class="m-icon-size" name="chevron-up-outline"  size="large"   (click)="modal.setCurrentBreakpoint(1); filterToUp = !filterToUp"></ion-icon>
      } @else if (!isDekstop) {
        <ion-icon aria-hidden="true" class="m-icon-size" name="chevron-down-outline"  size="large"   (click)="modal.setCurrentBreakpoint(0.2); filterToUp = !filterToUp"></ion-icon>
      } -->

      <ion-segment-view>
        <ion-segment-content id="filter">

            <!-- <ion-searchbar animated="true" showClearButton="false" [value]="filterDataRptr.text" [debounce]="500" [minlength]="2" [maxlength]="11" (ionInput)="filterDataChangeName($event)" placeholder="Filtruj" ></ion-searchbar> -->
            <ion-input class="l-input" label="Nazwa" label-placement="floating" fill="outline" 
            [value]="filterDataRptr.text" [debounce]="500" [minlength]="2" [maxlength]="11" (ionInput)="filterDataChangeName($event)"
            [clearInput]="true" 
          ></ion-input>

          <div class="filter card-filter">

              <div class="m-w100 ">
                <div [class]="'box box-c box-c-param'">Typ</div>
                @for (type of getTypes(); track type) {
                  <div [class]="'box box-c box-c-t-'+type.id">
                    <ion-checkbox [checked]="isTypeChecked(type.id)" [disabled]="loading"  labelPlacement="end" (ionChange)="filterDataChangeType(type.id)">{{type.name}}</ion-checkbox>
                  </div>
                }                   
                <div [class]="'box box-c box-c-param'">Pasmo</div>
                @for (band of getBands(); track band) {
                  <div [class]="'box box-c box-c-b-'+band.id">
                    <ion-checkbox [checked]="isBandChecked(band.id)" [disabled]="loading"  labelPlacement="end" (ionChange)="filterDataChangeBand(band.id)">{{band.name}}</ion-checkbox>
                  </div>
                }               
                <div [class]="'box box-c box-c-param'">Status</div>
                @for (status of getStatus(); track status) {
                  <div [class]="'box box-c box-c-s-'+status.id">
                    <ion-checkbox [checked]="isStatusChecked(status.id)" [disabled]="loading"  labelPlacement="end" (ionChange)="filterDataChangeStatus(status.id)">{{status.name}}</ion-checkbox>
                  </div>
                }
         
            </div>
            <ion-button [disabled]="!filteredPath.size" color="primary" (click)="addFilteredRptrsAndGoToExport()" >
              Exportuj znalezione
            </ion-button>
          </div>


        </ion-segment-content>
        <ion-segment-content id="country">
          <div class="filter card-country ">
            <div class="m-w100 ">
              <div [class]="'box box-c box-c-param'">Kraj</div>
              @for (country of getCountries(); track country) {
                <div class="box">
                  <ion-checkbox [checked]="isCountryChecked(country.id)" labelPlacement="end" [disabled]="loading"  alignment="start" (ionChange)="filterDataChangeCountry(country.id)"><span [class]="'fi fi-'+country.id"></span>&nbsp;{{country.name}}</ion-checkbox>
                </div>
              }
            </div>
          </div>
        </ion-segment-content>  
        <ion-segment-content id="radio">
          <ion-input class="l-input" label="QTH locator" label-placement="floating" fill="outline" 
            [value]="moveMarker.l" [maxlength]="6" (ionFocus)="dataFromUser=true" (ionBlur)="dataFromUser=false"
            (ionInput)="inputLocator($event)"
          ></ion-input>             
          <ion-input class="l-input" label="latitude" label-placement="floating" fill="outline" 
            [value]="moveMarker.a" [maxlength]="11" (ionFocus)="dataFromUser=true" (ionBlur)="dataFromUser=false"
            (ionInput)="inputLatitude($event)"
          ></ion-input>
          <ion-input class="l-input" label="longitude" label-placement="floating" fill="outline" 
            [value]="moveMarker.o" [maxlength]="12" (ionFocus)="dataFromUser=true" (ionBlur)="dataFromUser=false"
            (ionInput)="inputLongitude($event)" 
          ></ion-input> 
          
          <ion-button *ngIf="!geolocationIssueText.length" [disabled]="!canGeolocation" color="primary" fill="outline" size="small" (click)="findMe()" >
            Znajdź mnie
          </ion-button>    
          <br>   
          <ion-text color="danger" *ngIf="geolocationIssueText.length">{{geolocationIssueText}}</ion-text>
          <br>
          <ion-checkbox [checked]="filterDataRptr.range.isRangeActive" [disabled]="loading"  labelPlacement="end" (ionChange)="filterDataChangeRange($event)">
            ogranicz<br *ngIf="!isDekstop">
            do {{filterDataRptr.range.rangeMax}} km
          </ion-checkbox>
          <ion-range class="range" aria-label="przemienniki w odległości" [disabled]="loading"  [value]="filterDataRptr.range.rangeMax" [min]="10" [max]="300" [pin]="true" (ionChange)="radioRangeChange($event)"></ion-range>

          <ion-button *ngIf="filterDataRptr.range.isRangeActive" [disabled]="!filteredPath.size" color="primary" (click)="addFilteredRptrsAndGoToExport()" >
            Exportuj znalezione
          </ion-button>
        </ion-segment-content>  
        <!-- <ion-segment-content id="export">
          <h2>Znaleziono <strong>{{repeatersAllCount}} szt.</strong></h2>
          <p *ngIf="repeatersMapCount">(w tym {{repeatersMapCount}} na mapie)</p>
          <ion-button *ngIf="savedFiltered < filteredPath.size" fill="outline"   class="ion-text-wrap btn-more" (click)="addFilteredRptrs() ">
            Dodaj {{filteredPath.size - savedFiltered}} szt.
          <ion-icon slot="start" name="save" aria-hidden="true"></ion-icon>
          </ion-button>   
          <ion-button *ngIf="savedFiltered"  fill="outline"   class="ion-text-wrap btn-more" (click)="removeFilteredRptrs()">
            Usuń {{savedFiltered}} szt.
            <ion-icon slot="start" name="trash-bin" aria-hidden="true"></ion-icon>
          </ion-button>     
          <ion-button *ngIf="savedFiltered"   [routerLink]="['/export']" routerDirection="root" class="ion-text-wrap btn-more">
            Export
            <ion-icon slot="start" name="cloud-download-outline" aria-hidden="true"></ion-icon>
          </ion-button>         
        </ion-segment-content>                   -->
      </ion-segment-view>
    </ion-content>
  </ng-template>
</ion-modal>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-button [disabled]="!savedFiltered" (click)="goToExport()" ion-fab >
        <ion-icon slot="start" size="large" name="cloud-download-outline"></ion-icon>
        Exportuj
      </ion-button>      
      <ion-button color="success" *ngIf="savedFiltered < filteredPath.size" (click)="addFilteredRptrs()"  ion-fab >
        <ion-icon slot="start" name="save" aria-hidden="true"></ion-icon>
        Dodaj {{filteredPath.size - savedFiltered}} szt.
      </ion-button>
      <ion-button  color="warning"  *ngIf="savedFiltered"   (click)="removeFilteredRptrs()" routerDirection="root"  ion-fab >
        <ion-icon slot="start" name="trash-bin" aria-hidden="true"></ion-icon>
        Usuń {{savedFiltered}} szt.
      </ion-button>            
      <ion-button  color="warning"  (click)="refreshPage()" routerDirection="root"  ion-fab >
        <ion-icon slot="start" name="refresh-outline" aria-hidden="true"></ion-icon>
        Zacznij od nowa
      </ion-button> 
    </ion-fab-list>
  </ion-fab>
</ion-content>


