<ion-header [translucent]="true">
  <mapy73pl-main-toolbar></mapy73pl-main-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-grid [fixed]="true" >
    <h1>{{siteName}}</h1>
    <ion-list>
      @for (message of getMessages(); track message) {
        <ion-item  [detail]="false">
          <div slot="start" [class]="!message.read ? 'dot dot-unread' : 'dot'"></div>
          <ion-label class="ion-text-wrap">
            <div class="title ">
              <h2>
                {{ message.subject }}
              </h2>
              <span class="date">
                <ion-note>{{ message.date }}</ion-note>
              </span>
            </div>            
            <p>
              {{ message.detalis }}
            </p>
          </ion-label>
        </ion-item>       
      }
    </ion-list>
  <div class="end-page-margin">&nbsp;</div>    
  </ion-grid>
</ion-content>


